footer {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75px;
    background-color: teal;
    padding: 0;
    clear: both;
    text-align: center;
    // border-top-left-radius: 75%;
    border-top-right-radius: 75%;
}
